header, footer {
	background-color: #9d7142;
	color: #efe6c3;
	padding: 5px;
	padding-top: 8px;
	text-shadow: 2px 1px #444;
}

.jumbotron {
	background-image: url("img/skyline.jpg");
	background-size: cover;
}

header h1 {
	color: #fff;
	margin-bottom: 3%;
}
header p {
	color: #fff;
	position: absolute;
}
